<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781868708787-j1u5b9ivrqvco884aob1p2dh9lqiu34h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781868708787-j1u5b9ivrqvco884aob1p2dh9lqiu34h</string>
	<key>API_KEY</key>
	<string>AIzaSyCxfj_pecHuskRV960HitQ3JyALywmaRRs</string>
	<key>GCM_SENDER_ID</key>
	<string>781868708787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.bertamini.gmadrid.natacion.gmadridNatacion</string>
	<key>PROJECT_ID</key>
	<string>gmadrid-natacion-f5fcd</string>
	<key>STORAGE_BUCKET</key>
	<string>gmadrid-natacion-f5fcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781868708787:ios:861a5742b6168d865f11c6</string>
</dict>
</plist>