<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500181293119-3ucflt8sqoh63b6rurmit5denhqek7bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500181293119-3ucflt8sqoh63b6rurmit5denhqek7bo</string>
	<key>API_KEY</key>
	<string>AIzaSyDhKIWOHSohmoLK3Hpjf8z5XpfFGlnAB5s</string>
	<key>GCM_SENDER_ID</key>
	<string>500181293119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.bertamini.gmadrid.natacion.gmadridNatacion</string>
	<key>PROJECT_ID</key>
	<string>gmadrid-natacion</string>
	<key>STORAGE_BUCKET</key>
	<string>gmadrid-natacion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500181293119:ios:8b7a161cfe943801cf408a</string>
</dict>
</plist>